#chromemenu{
}

#chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

#chromemenu ul{
border: 1px solid #BBB;
width: 100%;
background: url(chromebg.gif) center center repeat-x; /*Theme Change here*/
margin-left: 0;
padding-left: 0;
margin: 0;
float: left;
font: 8px Franklin Gothic Book;
}


#chromemenu ul li{
display: inline;
}


#chromemenu ul li a{
float: left;
color: #7F7F7F;
font-weight: bold;
padding: 6px 12px 6px 7px;
text-decoration: none;
background: url(divider.gif) center right no-repeat; /*Theme Change here*/
}

#chromemenu ul li a:hover{
color: #0860a8;
}

#chromemenu ul li a[onMouseover]:after{ /*HTML to indicate drop down link*/
content: " v";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #FFFFFF; /*Theme Change here*/
border-bottom-width: 0;
font-size: 12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:15px;
z-index:100;
background-color: #FFFFFF;
width: 200px;
visibility: hidden;
}

.dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #FFFFFF; /*Theme Change here*/
font-size: 12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color: #CCCCCC;
padding: 5px 0px;
text-decoration: none;
color: #000000;
}

.dropmenudiv a:hover{ /*Theme Change here*/
background-color: #666666;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #ffffff;

}

/* ######### Style for Drop Down Menu2 ######### */

.dropmenudiv2{
position:absolute;
top: 0;
border: 1px solid #2EB458; /*Theme Change here*/
border-bottom-width: 0;
font-family: "Franklin Gothic Book";
	font-size: 10px;
line-height:12px;
z-index:100;
background-color: #ADE7F2;
width: 400px;
visibility: hidden;
}

.dropmenudiv2 a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #2EB458; /*Theme Change here*/
font-family: "Franklin Gothic Book";
	font-size: 10px;
padding: 2px 0;
text-decoration: none;
color: #333333;
}

.dropmenudiv2 a:hover{ /*Theme Change here*/
background-color: #A1D4A5;
font-family: "Franklin Gothic Book";
	font-size: 10px;
color: #333333;

}

/* ######### Style for Drop Down Menu3 ######### */

.dropmenudiv3{
position:absolute;
top: 0;
border: 1px solid #47AED9; /*Theme Change here*/
border-bottom-width: 0;
font-family: "Franklin Gothic Book";
	font-size: 10px;
line-height:12px;
z-index:100;
background-color: #FFFFFF;
width: 100px;
visibility: hidden;
}

.dropmenudiv3 a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #47AED9; /*Theme Change here*/
font-family: "Franklin Gothic Book";
	font-size: 10px;
padding: 2px 0;
text-decoration: none;
color: #333333;
}

.dropmenudiv3 a:hover{ /*Theme Change here*/
background-color: #A3CFE9;
font-family: "Franklin Gothic Book";
	font-size: 10px;
color: #333333;

}